*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}

@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
body{
    background-color:#f0f2f5 ;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.container{
    display: flex;
}
@media (max-width:767px){
    .container{
        flex-direction: column-reverse;
        /* max-width: 100%; */
    }
}
.login{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;

}
input{
    display: block;
    width: 100%;
    padding:  10px;
    margin-bottom: 15px;
    text-align: right;
    border-radius: 6px;
    border-color:    #dee0e3;
    caret-color: #1877f2;
    font-size: 18px;
}
input:focus{
    border-color:#1877f2;
    outline-color: #1877f2;
}
button{
    width: 100%;
    background-color: #1877f2;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;

}
.signin{
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 11px;
}
hr{
color: #dee0e3;
margin-top: 20px;
margin-bottom: 20px;
}
.signin1{
    background-color: #42b72a;
    display: block;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    width: fit-content;
    margin: auto;
}
.content{
    flex:1;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    width: 100%;
    color: #1877f2;
    text-align: right;
    font-size: 60px;
    margin-bottom: 20px;
}
p{
    text-align: right;
    font-size:30px;
}
@media (max-width:767px){
    h1, p{
        text-align: center;
    }
    .content{
        margin-bottom: 30px;
    }
}
